input {
    margin-left: 15px;
    font-size: 20px;
    margin-right: 0;
}
.input, button{
    margin: 15px 0;
    font-size: 20px;
    font-weight: bold;
}
.input {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
button {
    min-width: 29%;
    margin: 20px 2%;
}
